
table,th,td{
	border: 2px solid gray;
	border-collapse:collapse;
	width:200 px;
}
th,td{
	padding:  px;
	text-align:left;
	
}

#wrapper{
	border-color:navy;
	
}

#wrapper1{
	background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	 background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
	text-align:left;
}
